/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Quattrocento", serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 108px 50px;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Fanwood Text", serif;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 8px;
  transform: translateX(-50%);
  background-color: #004720e8;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1598&q=80");
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.splash .splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash i {
  font-size: 40px;
  background: #004720e8;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  border-radius: 50%;
  transform: translateY(50%);
}

.splash .page-title {
  color: #fff;
  font-size: 60px;
  margin: 48px 0 0 0;
  font-family: "Fanwood Text", serif;
}

.splash .page-title::after {
  position: absolute;
  content: '';
  bottom: 60px;
  left: 50%;
  width: 100px;
  height: 8px;
  transform: translateX(-50%);
  background-color: #004720e8;
}

.splash .page-subtitle {
  color: #fff;
  font-size: 20px;
  margin: 48px 0 0 0;
}

/* Intro */
.intro {
  background-color: #fff;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

/* About */
.about {
  background: #b7ccc0;
}

/*Skils*/
.skill-left, .skill-right {
  position: relative;
  height: 500px;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

/*Gallery*/
.gallery {
  padding: 0;
}

.gallery::before, .gallery::after {
  clear: both;
  content: "";
  display: table;
}

.gallery-tile {
  position: relative;
  float: left;
  width: 33.3333%;
}

.gallery-tile::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  content: '';
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.6s;
}

.gallery-tile:hover::after {
  opacity: 0.5;
}

.gallery-tile img {
  float: left;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-tile:hover .gallery-content {
  z-index: 1;
  opacity: 1;
}

.gallery-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}

.gallery-button {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 14px;
  font: uppercase;
  background: #004720e8;
  color: #fff;
  cursor: pointer;
}

.gallery-title {
  color: #fff;
  letter-spacing: 3px;
  margin: 0;
}

/*Contakt*/
.contact-inner .section-title::after {
  background-color: #b7ccc0;
}

.contact {
  height: 500px;
  background: #2c3e50;
  position: relative;
  margin-top: 30px;
}

.contact-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.contact-inner .section-title {
  color: white;
}

input, textarea {
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  width: 100%;
  outline: 1px solid;
  border: none;
}

/*Fotter*/
.page-footer p {
  margin: 0;
  background-color: #363636;
  color: white;
  padding: 10px;
}

@media (max-width: 767.98px) {
  section {
    padding: 50px 50px;
  }
  /*Skils*/
  .skill-left, .skill-right {
    height: 900px;
  }
  .skill-image {
    width: 100%;
    height: 50%;
  }
  .skill-right .skill-description {
    padding: 90% 0 0px 0;
    text-align: center;
  }
  .skill-left .skill-description {
    padding: 90% 0 36px 0;
    text-align: center;
  }
  /*Gallery*/
  .gallery-tile {
    width: 50%;
  }
}

@media (max-width: 660px) {
  .skill-left, .skill-right {
    height: 100vh;
  }
  .skill-right .skill-description {
    padding: 50vh 0 10px 0;
  }
  .skill-left .skill-description {
    padding: 50vh 0 10px 0;
  }
}

@media (max-width: 576px) {
  .intro p {
    width: 90%;
  }
  .skill-left, .skill-right {
    height: 100vh;
  }
  .skill-right .skill-description {
    padding: 45vh 0 10px 0;
  }
  .skill-left .skill-description {
    padding: 50vh 0 10px 0;
  }
}

@media (max-width: 414px) {
  .splash .page-title {
    font-size: 50px;
  }
  .skill-left, .skill-right {
    height: 100vh;
  }
  .skill-right .skill-description {
    padding: 50vh 0 10px 0;
  }
  .skill-left .skill-description {
    padding: 50vh 0 10px 0;
  }
  .gallery-tile {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .splash .page-title {
    font-size: 40px;
  }
  section {
    padding: 50px 5px;
  }
}

@media (max-width: 320px) {
  section {
    padding: 50px 0;
  }
}
/*# sourceMappingURL=style.css.map */